.main {
    padding: 2em 0;
    @include breakpoint(medium) {
        padding: 4em 0;
      }
      @include breakpoint(large) {
        padding: 8em 0;
      }
    }

.card.event {
    background-color: rgb(238, 237, 237);
    border: solid 2px rgb(78, 78, 78);
    text-align: center;
    color: black;
    height:auto;
    h3 {
        font-size: 20px; 
    }
    button {
        color: white;
    }
        
}