
<footer>
  <div class="grid-container">
    <div class="grid-x grid-padding-x footer-top">
      <div class="cell medium-3">
        <h4>CONTACT US<span class="orange">.</span></h4>
        <p><strong>The Scala</strong><br>
        John Street,<br>
        Merthyr Tydfil <br>
        CF47 0AW <br><br>
        The Valleys, Wales</p>
      </div>
      <div class="cell medium-3">
      
          <h4>Opening Times<span class="orange">.</span></h4>
          <p><strong>COMING SOON<br>
          </strong></p>
       
      </div>
      <div class="cell medium-3">
        <h4>Links<span class="orange">.</span></h4>
        <p><a href="/">Home</a><br>
           <a href="events.html">What's on</a><br>
            <a href="venue.html">Venue Information</a><br>
            <a href="#">Private Hire</a><br>
            <a href="#">Privacy policy</a>
        </p>
      </div>
      <div class="cell medium-3">
        <h4>Follow Us<span class="orange">.</span></h4>
        <p><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/thescalavenue"> Facebook</a><br>
          <i class="fa-brands fa-twitter"></i></i> <a href="#"> Twitter</a><br>
          <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/thescalavenue/"> Instagram</a><br>
          <i class="fa-brands fa-tiktok"></i> <a href="#"> TikTok</a></p>
          <p>Get up-to-date emails and sms directly into your mailbox by signing up to our newsletter.<br><br>
          <button data-tf-popup="Pg5EOMpW" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Scala Signup" data-tf-transitive-search-params data-tf-medium="snippet" class="button medium primary">SIGN UP</button><script src="//embed.typeform.com/next/embed.js"></script>


        </p>
        
      </div>
    </div>

    <div class="grid-x grid-padding-x align-center-middle footer-bottom text-center">
      <div class="cell medium-12">
        <a href="#"><img class="logo" src="assets/img/logo-white.png" width="150"></a><br>
        Copyright © 2023 Scala Venue 
      </div>
    </div>
  </div>
  
</footer> 