  <!-- site-navbar start -->
      <div class="topbar topbar-sticky-shrink">
        <div class="container">
          <nav class="site-navbar">
            <!-- site logo -->
            <a href="#home" class="site-logo"><img src="assets/img/logo-white.png"></a>

            <!-- site menu/nav -->
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="events.html">What's On</a></li>
              <li><a href="#">Private Hire</a></li>
              <li><a href="venue.html">The Venue</a></li>
            </ul>

            <!-- nav-toggler for mobile version only -->
            <button class="nav-toggler">
              <span></span>
            </button>
          </nav>
        </div>
      </div><!-- navbar-area end -->